@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
}

main {}

body {
  @apply bg-gray-200
}

.duo-green {
  background-color: #58CC02;
}

.duo-gold {
  background-color: #FFD800;
}